{% extends 'base.html.twig' %}

{% block title %}
    Pierrelang.ru
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
    <a href="{{ path('create_item') }}">add new item</a><br><br>
    {% for item in items %}
        <form name="itemForm_{{ item._id }}" action="{{ path('update_item') }}">
            <div class="itemContainer">{{ include('admin/item.html.twig', { 'item': item }) }}</div>
            <button type="button" class="btn_Update" data-id="{{ item._id }}">save</button>
            <button type="button" class="btn_Delete" data-id="{{ item._id }}">delete</button>
        </form>
    {% endfor %}

{% endblock %}

{%  block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/actions.js') }}"></script>
{% endblock %}