<th scope="row">{{ item._id }}</th>
<td>
    <img src="{{ asset('images/items/' ~ item.filename) }}" alt="{{ item.title }}" class="img-fluid img-thumbnail" style="width: 100px; height: 100px;"><br><br>
    <input type="file" name="file" accept="image/*">
</td>
<td><input type="text" class="form-control" name="title" value="{{ item.title }}"></td>
<td><input type="text" class="form-control" name="number" value="{{ item.number }}"></td>
<td><input type="text" class="form-control" name="price" value="{{ item.price }}"></td>
<td>
    <select class="form-control" name="category">
        <option value="">please select</option>
        <option value="1"{% if (item.category) == 1 %} selected="selected"{% endif %}>Cat 1</option>
        <option value="2"{% if (item.category) == 2 %} selected="selected"{% endif %}>Cat 2</option>
    </select>
</td>
<td><input type="checkbox" class="form-control" name="isnew" value="1"{% if (item.isnew) == 1 %} checked="checked"{% endif %}></td>
<td>
    <button type="button" class="btn btn-primary btn_Update" data-route="{{ path('update_item') }}" data-id="{{ item._id }}"><i class="fa fa-save"></i></button>
    <button type="button" class="btn btn-danger btn_Delete" data-route="{{ path('delete_item') }}" data-id="{{ item._id }}"><i class="fa fa-trash"></i></button>
</td>
