{% extends 'base.html.twig' %}

{% block title %}
    Pierrelang.ru
{% endblock %}

{% block stylesheets %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="{{ asset('assets/css/store.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    {{ include('store/header.html.twig') }}

    {{ include('store/nav.html.twig') }}

    <div class="nav-bar-sep d-lg-none"></div>

    <div class="outer-container">
        <div class="container portfolio-page">
            <div class="row">
                <div class="col">
                    <ul class="breadcrumbs flex align-items-center">
                        <li><a href="#">Home</a></li>
                        <li>Kollektion</li>
                    </ul><!-- .breadcrumbs -->
                </div><!-- .col -->
            </div><!-- .row -->

            <div class="row">
                {% for item in items %}
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="portfolio-content">
                            <figure>
                                <img src="{{ asset('images/items/' ~ item.filename) }}" alt="{{ item.title }}">
                            </figure>

                            <div class="entry-content flex flex-column align-items-center justify-content-center">
                                <h3><a href="{{ path('show_item', { 'hash': item.hash }) }}">{{ item.title }}</a></h3>

                                <ul class="justify-content-center">
                                    <li class="price">&euro;{{ item.price }}</li>
                                    {% if (item.isnew) == 1 %}
                                        <li class="new">New</li>
                                    {% endif %}
                                    <li><br><button type="button" class="btn btn-outline-secondary"><i class="fa fa-search"></i></button> <button type="button" class="btn btn-outline-secondary"><i class="fa fa-heart"></i></button></li>
                                </ul>
                            </div><!-- .entry-content -->
                        </div><!-- .portfolio-content -->
                    </div><!-- .col -->
                {% endfor %}
            </div><!-- .row -->

            <div class="scroll-down flex flex-column justify-content-center align-items-center d-none d-lg-block">
                <span class="arrow-down flex justify-content-center align-items-center"><img src="{{ asset('images/arrow-down.png') }}" alt="arrow"></span>
                <span class="scroll-text">Scroll Down</span>
            </div><!-- .scroll-down -->
        </div><!-- .container -->
    </div><!-- .outer-container -->
{% endblock %}

{%  block javascripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ asset('assets/js/store.js') }}"></script>
{% endblock %}