{% set itemUrl %}{{ app.request.getSchemeAndHttpHost() }}{{ path('show_item', { 'hash': item.hash }) }}{% endset %}
<div class="container single-portfolio pt-0 pb-1">
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="featured-img">
                <figure>
                    <img src="{{ asset('images/items/' ~ item.filename) }}" class="img-fluid" alt="{{ item.title }}">
                </figure>
            </div><!-- .content-area -->
        </div><!-- .col-12 -->

        <div class="col-12 col-lg-4">
            <div class="content-area">

                <div class="entry-meta">
                    <div class="posted-tags">
                        <label>Номер продукта</label>
                        <span>{{ item.number }}</span>
                    </div>
                    <div class="post-category">
                        <label>Категория</label>
                        <span><a href="{{ path('show_category', { 'id': item.category }) }}">{{ categories[item.category] }}</a></span>
                    </div>
                </div><!-- .entry-meta -->

                <div class="entry-content">
                    <p class="item-price">&euro;{{ item.price }}</p>
                    <button type="button" class="item-action btn_ProceedWishList" data-item-id="{{ item._id }}"><i class="fa fa-star"></i> в избранное</button>
                </div><!-- .entry-content -->

                <div class="post-share">
                    <div class="label">Поделиться:</div>
                    <div class="flex align-items-center">
                        <ul class="flex align-items-center">
                            <li class="fb"><a href="https://www.facebook.com/sharer.php?u={{ itemUrl }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li class="vk"><a href="http://vk.com/share.php?url={{ itemUrl }}&title={{ item.title|url_encode }}" target="_blank"><i class="fa fa-vk"></i></a></li>
                            <li class="tw"><a href="https://twitter.com/intent/tweet?url={{ itemUrl }}&text={{ item.title|url_encode }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li class="ok"><a href="https://connect.ok.ru/dk?st.cmd=WidgetSharePreview&st.shareUrl={{ itemUrl }}" target="_blank"><i class="fa fa-odnoklassniki"></i></a></li>
                            <li class="tl"><a href="https://telegram.me/share/url?url={{ itemUrl }}&text={{ item.title|url_encode }}"><i class="fa fa-telegram"></i></a></li>
                        </ul>
                    </div>
                </div><!-- .post-share -->

            </div><!-- .content-area -->
        </div><!-- .col-12 -->
    </div><!-- .row -->
    {% if isAjax == true %}
    <div class="row">
        <div class="col">
            <nav class="post-nav">
                <ul class="flex justify-content-between align-items-center">
                    <li><a href="#" class="prevItem"><img src="{{ asset('images/angle-left.png') }}" alt="назад"></a></li>
                    <li><a href="#" class="prevItem">назад</a></li>
                    <li>листать</li>
                    <li><a href="#" class="nextItem">вперед</a></li>
                    <li><a href="#" class="nextItem"><img src="{{ asset('images/angle-right.png') }}" alt="вперед"></a></li>
                </ul>
            </nav><!-- .post-nav -->
        </div><!-- .col -->
    </div><!-- .row -->
    {% endif %}
</div><!-- .container -->