{% extends 'base.html.twig' %}

{% block title %}
    Pierrelang.ru
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
{% endblock %}

{% block body %}
    <header id="header" class="preview">
        <div class="inner">
            <a href="/" class="button hidden"><span>Let's Go</span></a>
        </div>
    </header>

    <div id="preview" class="vertical">
        <div class="inner">
            <div class="image fit">
                <img src="{{ asset('images/' ~ item.filename) }}" alt="{{ item.title }}" width="300">
            </div>
            <div class="content">
                <header>
                    <h2>{{ item.title }}</h2>
                </header>
                <p>Art.Nr.: {{ item.number }}</p>
                <p>Preis: {{ item.price }} &euro;</p>
            </div>
        </div>
        <a href="detail1.html" class="nav previous"><span class="fa fa-chevron-left"></span></a>
        <a href="detail2.html" class="nav next"><span class="fa fa-chevron-right"></span></a>
    </div>

    {{ include('store/footer.html.twig') }}
{% endblock %}

{%  block javascripts %}
<script type="text/javascript" src="{{ asset('assets/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/skel.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/util.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/main.js') }}"></script>
{% endblock %}