<div class="container single-portfolio pt-0 pb-1">
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="featured-img">
                <figure>
                    <img src="{{ asset('images/items/' ~ item.filename) }}" class="img-fluid" alt="{{ item.title }}">
                </figure>
            </div><!-- .content-area -->
        </div><!-- .col-12 -->

        <div class="col-12 col-lg-4">
            <div class="content-area">

                <div class="entry-meta">
                    <div class="posted-tags">
                        <label>Номер продукта</label>
                        <span>{{ item.number }}</span>
                    </div>
                    <div class="post-category">
                        <label>Категория</label>
                        <span><a href="#">Photography</a></span>
                    </div>
                </div><!-- .entry-meta -->

                <div class="entry-content">
                    <p class="item-price">&euro;{{ item.price }}</p>
                    <button type="button" class="item-action" data-action-url="{{ path('show_item', { 'hash': item.hash }) }}"><i class="fa fa-star"></i> в избранное</button>
                </div><!-- .entry-content -->

                <div class="post-share">
                    <div class="label">Поделиться:</div>
                    <div class="flex align-items-center">
                        <ul class="flex align-items-center">
                            <li class="fb"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="in"><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li class="tw"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="vk"><a href="#"><i class="fa fa-vk"></i></a></li>
                            <li class="ok"><a href="#"><i class="fa fa-odnoklassniki"></i></a></li>
                        </ul>
                    </div>
                </div><!-- .post-share -->

            </div><!-- .content-area -->
        </div><!-- .col-12 -->
    </div><!-- .row -->

    <div class="row">
        <div class="col">
            <nav class="post-nav">
                <ul class="flex justify-content-between align-items-center">
                    <li><a href="#"><img src="{{ asset('images/angle-left.png') }}" alt="Previous"></a></li>
                    <li><a href="#"><img src="{{ asset('images/portfolio-icon.png') }}" alt="Back to Portfolio"></a></li>
                    <li><a href="#"><img src="{{ asset('images/angle-right.png') }}" alt="Next"></a></li>
                </ul>
            </nav><!-- .post-nav -->
        </div><!-- .col -->
    </div><!-- .row -->
</div><!-- .container -->