{% extends 'base.html.twig' %}

{% block title %}
    Pierrelang.ru
{% endblock %}

{% block stylesheets %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="{{ asset('assets/css/store.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    {{ include('store/header.html.twig') }}

    {{ include('store/nav.html.twig') }}

    <div class="nav-bar-sep d-lg-none"></div>

    <div class="outer-container">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <div class="fullPageHeader">
                        <h3>Избранное</h3>
                    </div><!-- .breadcrumbs -->
                </div><!-- .col -->
                <div class="col-4">
                    <div class="wishList text-right">
                        <button type="button" class="btn_WishListSend item-action item-action-active" data-toggle="modal" data-target="#formModal">
                            <span class="d-sm-none"><i class="fa fa-star"></i></span>
                            <span class="d-none d-sm-block"><i class="fa fa-envelope"></i> отправить запрос</span>
                        </button>
                    </div>
                </div>
            </div><!-- .row -->
            <div class="row">
                <div class="col-12">
                    {% if message != '' %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}
                    <div id="wishList">
                        <input type="hidden" name="clear" value="{{ clear }}">
                    </div>
                </div><!-- .col -->
            </div><!-- .row -->
        </div>
    </div><!-- .outer-container -->

    <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="formModalLabel">Отправить запрос</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form name="sendForm" action="{{ path('send_request') }}" method="post">
                    <div class="modal-body">
                        <input type="hidden" name="ids" value="">
                        Ваше имя: <input type="text" name="name" value="" class="form-control" required><br>
                        Ваше Е-Мейл: <input type="text" name="email" value="" class="form-control" required><br>
                        Комментарий: <textarea type="text" name="comment" class="form-control"></textarea><br>
                        <input type="checkbox" name="iscopy" value="1" checked="checked"> Отправить копию "Избранного" Вам на Е-Мейл<br>
                        <input type="checkbox" name="isclear" value="1"> Очистить "Избранное" после отправки
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{%  block javascripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ asset('assets/js/store.js') }}"></script>
{% endblock %}